
<div class="container mt-5 pt-3">
  <form id="recipe-search" class="w-100 mt-5 pt-4" action="/recipes" method="GET">
    <div class="row w-100 d-flex flex-row flex-wrap justisfy-content-between align-items-center">
      <div class="ml-3 m-2 mr-0 col-sm-12 col-md-6 d-flex flex-row justify-content-center">
        <input type="text" class="border rounded p-2 w-100" name="include" 
        {{#if includes}}
          value=" {{#with includes}}{{ this }}{{/with}}" />
        {{else}}
          placeholder="Enter your ingredients..." required />
        {{/if}}
      </div>
      <div class="m-3 mr-2 col-sm-12 col-md-2 d-flex flex-row justify-content-center">
        <div class="custom-control custom-checkbox"> 
          <input type="checkbox" class="custom-control-input" id="customCheck1" name="strict" />
          <label class="custom-control-label" for="customCheck1">Only these</label>
        </div>
      </div>
      <div class="m-2 col-md-3 d-flex justify-content-center align-items-center">
        <button class="mr-5 btn btn-success">Search</button>

        {{!-- ADVANCED SEARCH --}}
        <a class="mt-2 mb-2" data-toggle="collapse" href="#advanced" role="button" aria-expanded="false"
          aria-controls="collapseExample">
          Advanced
        </a>
      </div>
    </div>

    <div class="mt-3 collapse card card-body w-100" id="advanced">
      <div class="col">
        <div class="form-group row">
          <div class="col-md-6">
            <label class="w-25" for="max-ingredients">Max ingredients</label>
            <input class="w-100" type="number" id="max-ingredients" name="max"/>
          </div>
          <div class="col-md-6">
            <label class="w-25" for="exclude">Exclude these</label>
            <input class="w-100" type="text" name="exclude" id="exclude" />
          </div>
          <hr />
        </div>
        <div class="form-group">
          <label for="cuisine">Cuisine</label>
          <select multiple class="form-control" name="cuisineType" id="cuisine">
            <option value="American">American</option>
            <option value="Asian">Asian</option>
            <option value="British">British</option>
            <option value="Caribbean">Caribbean</option>
            <option value="Central Europe">Central Europe</option>
            <option value="Chinese">Chinese</option>
            <option value="Eastern Europe">Eastern Europe</option>
            <option value="French">French</option>
            <option value="Indian">Indian</option>
            <option value="Italian">Italian</option>
            <option value="Japanese">Japanese</option>
            <option value="Kosher">Kosher</option>
            <option value="Mediterranean">Mediterranean</option>
            <option value="Mexican">Mexican</option>
            <option value="Middle Eastern">Middle Eastern</option>
            <option value="Nordic">Nordic</option>
            <option value="South American">South American</option>
            <option value="South East Asian">South East Asian</option>
          </select>
        </div>

        <div class="form-group restrictions">
          <div class="row">
            <div class="col-md">
              <input type="checkbox" id="alcohol-free" value="alcohol-free" name="restrictions" />
              <label for="alcohol-free">Alcohol-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="celery-free" value="celery-free"name="restrictions" />
              <label for="celery-free">Celery-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="crustacean-free" value="crustacean-free" name="restrictions" />
              <label for="crustacean-free">Crustacean-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="dairy-free" value="dairy-free" name="restrictions" />
              <label for="dairy-free">Dairy-free</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <input type="checkbox" id="egg-free" value="egg-free" name="restrictions" />
              <label for="egg-free">Egg-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="fish-free" value="fish-free" name="restrictions" />
              <label for="fish-free">Fish-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="fodmap-free" value="fodmap-free" name="restrictions" />
              <label for="fodmap-free">FODMAP-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="gluten-free" value="gluten-free" name="restrictions" />
              <label for="gluten-free">Gluten-free</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <input type="checkbox" id="keto-friendly" value="keto-friendly" name="restrictions" />
              <label for="keto-friendly">Keto-friendly</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="kosher" value="kosher" name="restrictions" />
              <label for="kosher">Kosher</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="low-potassium" value="low-potassium" name="restrictions" />
              <label for="low-potassium">Low-potassium</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="lupine-free" value="lupine-free" name="restrictions" />
              <label for="lupine-free">Lupine-free</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <input type="checkbox" id="mustard-free" value="mustard-free" name="restrictions" />
              <label for="mustard-free">Mustard-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="low-fat-abs" value="low-fat-abs" name="restrictions" />
              <label for="low-fat-abs">Low fat</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="no-oil-added" value="no-oil-added" name="restrictions" />
              <label for="no-oil-added">No added oil</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="low-sugar" value="low-sugar" name="restrictions" />
              <label for="low-sugar">Low Sugar</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <input type="checkbox" id="paleo" value="paleo" name="restrictions" />
              <label for="paleo">Paleo</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="peanut-free" value="peanut-free" name="restrictions" />
              <label for="peanut-free">Peanut-free</label>    
            </div>
            <div class="col-md">
              <input type="checkbox" id="pecatarian" value="pecatarian" name="restrictions" />
              <label for="pecatarian">Pecatarian</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="pork-free" value="pork-free" name="restrictions" />
              <label for="pork-free">Pork-free</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <input type="checkbox" id="red-meat-free" value="red-meat-free" name="restrictions" />
              <label for="red-meat-free">Red meat-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="sesame-free" value="sesame-free" name="restrictions" />
              <label for="sesame-free">Sesame-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="shellfish-free" value="shellfish-free" name="restrictions" />
              <label for="shellfish-free">Shellfish-free</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="soy-free" value="soy-free" name="restrictions" />
              <label for="soy-free">Shellfish-free</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <input type="checkbox" id="sugar-conscious" value="sugar-conscious" name="restrictions" />
              <label for="sugar-conscious">Sugar-conscious</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="tree-nut-free" value="tree-nut-free" name="restrictions" />
              <label for="tree-nut-free">Tree nut conscious</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="vegan" value="vegan" name="restrictions" />
              <label for="vegan">Vegan</label>
            </div>
            <div class="col-md">
              <input type="checkbox" id="vegetarian" value="vegetarian" name="restrictions" />
              <label for="vegetarian">Vegetarian</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <input type="checkbox" id="	wheat-free" value="	wheat-free" name="restrictions" />
              <label for="wheat-free"> Wheat-free</label>
            </div>
          </div>
        </div>
     
      </div>
    </div>
  </form>
</div>

<div class="container ">
  <div class="card-columns mt-5 m-scene">
    {{#each recipes}}
    <div class="card scene_element scene_element--fadein">
      <img src="{{ recipe.image }}" class="card-img-top" alt="" style="max-height: 200px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.label }}</h5>
        <p class="card-text">{{ recipe.source }}</p>
        {{!-- <div class="d-flex flex-row"> --}}
        {{!-- NEED TO SEND DATA & CHANGE PAGE SO FORM...--}}
        <form action="/recipes/{{ getID recipe.uri }}" method="GET" class="d-inline">
          {{!-- <input class="hidden" type="text" name="data" value="{{getData recipe}}" /> --}}
          <button class="btn btn-primary">View Recipe</button>
        </form>
    
        <div class="d-flex justify-content-between align-items-center mx-3 mt-1">
          <div class="row">
            {{#if recipe.isSaved}}
              <button class="recipe-bookmark btn btn-warning btn-sm" data-recipe-uri="{{ getID recipe.uri }}"
              data-recipe-data="{{getData recipe}}">
                <i class="fas fa-bookmark mr-2"></i>
                Saved
              </button>
            {{else}}
              <button class="recipe-bookmark btn btn-secondary btn-sm"
              data-recipe-uri="{{ getID recipe.uri }}" data-recipe-data="{{getData recipe}}">
                <i class="fas fa-bookmark mr-2"></i>
                Save
              </button>
            {{/if}}
          </div>
          <div class="row d-flex align-items-center">
              <h5 class="m-0 mr-1">{{recipe.count}}</h5>
              <i class="fas fa-bookmark mr-2 text-danger"></i>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>

  document.addEventListener('click', e => {
    if (e.target.classList.contains('recipe-bookmark')) {
      {{#if user}}
        //JSON - change value - stringify -
        const uri = e.target.dataset.recipeUri;
        const data = e.target.dataset.recipeData;

        axios.post(`/recipes/${uri}/save`, { data: data }).then(res => {
          const data = res.data;
          if (data.status === 200 && data.saved) {
            const dataTmp = JSON.parse(e.target.dataset.recipeData);
            dataTmp.isSaved = true;
            e.target.setAttribute("data-recipe-data", JSON.stringify(dataTmp));
            e.target.classList.remove("btn-secondary");
            e.target.innerText = "Saved";
            e.target.classList.add("btn-warning");
          } else if (data.status === 200 && !data.saved) {
            const dataTmp = JSON.parse(e.target.dataset.recipeData);
            dataTmp.isSaved = false;
            e.target.dataset.recipeData = JSON.stringify(dataTmp);
            e.target.classList.remove("btn-warning");
            e.target.innerText = "Save";
            e.target.classList.add("btn-secondary");
          }
        });
      {{else}}
        window.location.href = "/auth/sign-in";
      {{/if}}
      
    }
  });
</script>