<div class="container">
  <div class="card-columns">
    {{#each recipes}}
    <div class="col card">
      <img src="{{ recipe.image }}" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.label }}</h5>
        <p class="card-text">{{ recipe.source }}</p>
        <a href="{{ recipe.url }}" class="btn btn-primary">View Recipe</a>

        <button class="recipe-bookmark" data-recipe-uri="{{ getID recipe.uri }}"
          data-recipe-data="{{getData recipe}}">Save</button>

        {{!-- <form action="/recipes/{{ getID recipe.uri }}/save" method="POST">
          <input class="hidden" type="text" name="data" value="{{getData recipe}}" />
          <button>Save</button>
        </form> --}}

      </div>
    </div>
    {{/each}}
  </div>
</div>

<script>
  document.addEventListener('click', e => {
    const instance = axios.create({
      baseURL: 'http://localhost:8080'
    });
    if (e.target.classList.contains('recipe-bookmark')) {
      const uri = e.target.dataset.recipeUri;
      const cenas = JSON.stringify(e.target.dataset.recipeData);
      console.log(cenas);


      async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
          method: 'POST', // *GET, POST, PUT, DELETE, etc.
          mode: 'cors', // no-cors, *cors, same-origin
          cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
          credentials: 'same-origin', // include, *same-origin, omit
          headers: {
            'Content-Type': 'application/json'
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: 'follow', // manual, *follow, error
          referrer: 'no-referrer', // no-referrer, *client
          body: data // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
      }
      
      postData(`/recipes/${uri}/save`, cenas)
    
    }
  });
</script>


{{!-- <script src="./../public/js/main"></script> --}}